<!DOCTYPE html>
<html>
	<head>
		<title>Projeto</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}" />
	</head>
	
	<center>

		<body>
			<div id="page-wrapper">
				<section id="header">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Logo -->
									<h1><a href="/" id="logo">Gestão Empresarial</a></h1>

								<!-- Nav -->
									<nav id="nav">
										<a href="/">Homepage</a>
										<a href="/registo">Registo</a>
									</nav>

							</div>
						</div>
					</div>
					
				</section>
			</div>
			<center>
				<font color="DodgerBlue" size="5" style="font-family: avenir">
					<h1>Sucesso</h1><br>
					<h2>O funcionário seguinte foi adicionado com sucesso!!</h2><br>
					<h2>{{ Nome}}</h2><br>
					<form action="/" autocomplete="on" method = "GET">
						<button type="submit" class ="button-large">Voltar</button><br><br>
					</form>
				</font>
			</center>



</body>
</html>
