<!DOCTYPE html>
<html>
<head>
	<title>Registar funcionários</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}" />
</head>
<center>

		<body>
			<div id="page-wrapper">
				<section id="header">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Logo -->
									<h1><a href="/" id="logo">Gestão Empresarial</a></h1>

								<!-- Nav -->
									<nav id="nav">
										<a href="/">Homepage</a>
										<a href="/registo">Registo</a>
									</nav>

							</div>
						</div>
					</div>
					
				</section>
				
				<section id="features">
					<div class="container">
				
					<h1 style="color: DodgerBlue; height:50px; font-size:25pt"> Folha de Funcionários</h1>
						<form action="/addfuncionario" autocomplete="on" method = "POST" enctype="multipart/form-data">


							Primeiro Nome:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="nome_funcionario" autofocus size="20" ><br>

							Último Nome:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="sobrenome_funcionario"><br>

							Função:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="funcao"><br>
							
							Morada:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="morada"><br>
							
							Email:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="email"><br>
							
			
							Género:<br> <input style="height:15px;width:15px;font-size:14pt;color:grey;" type="radio" name="genero" value="M"> Masculino    
										<input style="height:15px;width:15px;font-size:14pt;color:grey;" type="radio" name="genero" value="F"> Feminino<br>

							Image: <input type=file name="foto" style="height:25px;font-size:14pt;color:grey;"> <br><br>

							<button type="submit" class ="button-large">Adicionar Funcionário</button>

						</form>
					</div>
				</section>
			</div>
				
		</body>

</center>
</html>
